.ConnectRoom{
    width: 30em;
    margin: auto;
    margin-top: 4vh;
    text-align: center;
    background-color: bisque;
    border: 5px solid black;
    border-radius: 20px;
    padding: 2vh;
    
}

.styleopts input{
    margin: 1vh;
    font-size: 110%;
    border: 1px solid black;
    border-radius: 20px;
}
.styleopts input:focus{
    outline: none;
}
.styleopts label{
    display: block;
    margin: auto;
    width: 8em;
    font-size: 120%;
    font-weight: bold;
    color: whitesmoke;
    background-color: rgb(91, 102, 74);
    border: 4px solid black;
    border-radius: 20px;
}
.warn{
    width: 30em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.warn h1{
    background-color: whitesmoke;
    border: 3px solid black;
}
.rooms{
    display: inline-block;
    background: rgb(91, 102, 74);
    border: 4px solid black;
    color: whitesmoke; 
    padding: 1rem 1.5rem; 
    text-decoration: none; 
    border-radius: 10px; 
}