
.Form{
    margin: auto;
    background-color: bisque;
    border: 0.2em solid black;
    border-radius: 5%;
    text-align: center;
    width: 50vw;
    font-size: 2vw;
}
.Form * {
    font-size: inherit;
    max-height: 1em;
    max-width: 100%;
}

.Form p{
    font-weight: bold;
}
.Form .submit{
    background-color: whitesmoke;
    border: 0.2em solid black;
    border-radius: 20px;
}