.Deck{
float: right;
margin-top: 350px;
width: 300px;
height: 200px;
}
.Cover{
    position: relative;

}
.Cover img{
    position: absolute;
    border: 1px solid black;
}
.Deck .Cover:nth-of-type(1) img{
    transform: translateX(-110px) rotate(270deg);
    max-width: 50%;
}