.Player{
    width: 140px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    bottom: 1vh;
    left: 0;
    right: 0;
    text-align: center;
}
.choose{
    position: absolute;
    left: 20vw;
    bottom: 15vh;
}
.choose h2{
    color: aliceblue;
    text-shadow: 3px 2px 3px #000
}
.choose button{
    font-size: 120%;
}
