.Stats{
    position: absolute;
    bottom: 60vh;
    left: 3vw;
    border: 3px solid black;
    background-color: antiquewhite;
    width: 10em;
    height: 10em;
    font-size: 80%;
    text-align: center;
}